<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Radio - Lofi</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.150.1/build/three.module.js",
                    "FBXLoader": "https://unpkg.com/three@0.150.1/examples/jsm/loaders/FBXLoader.js",
                    "RGBELoader": "https://unpkg.com/three@0.150.1/examples/jsm/loaders/RGBELoader.js",
                    "OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js"
                }
            }
        </script>
        <script type="module" src="{% static 'js/three_character.js' %}"></script>
    </head>
    <body>
            <div id="top_content">
                <div id="content_left">
                    <div id="actual_playlist">
                        <div id="disc_circle">
                            <div id="playlist_img"></div>
                        </div>
                        <div id="playlist_info">
                            <h4>Nome da música - Lofi Name</h4>
                            <h5>Playlist Name</h5>
                            <h6>Missing time: 18:56</h6>
                        </div>
                    </div>
                    <div id="disclosure_donations">
                        <div id="btns">
                            <div id="btn_open_vote" onclick="open_vote()"><h3>Vote one Playlist</h3></div>
                            <div id="btn_open_live_chat" onclick="open_live_chat()"><h3>Open Chat</h3></div>
                        </div>
                        <div id="div_disclosure_donations">
                            <div id="disclosure">
                                <h5>Spread an image on our live for 1 minute</h5>
                                <div id="btns_disclosure">
                                    <label for="file_disclosure" id="file_disclosure" onclick="open_input_disclosure()"><div>Upload Image</div></label>                       
                                    <input name="file_disclosure" id="input_disclosure" type="file" accept="image/png, image/jpg, image/gif, image/jpeg">
                                    <div id="btn_spread"><div>Send disclosure</div></div>
                                </div>
                            </div>
                            <div id="donations">
                                <h5>Make donations for our project, get to know our projects on social networks</h5> 
                                <div id="btns_donate">
                                    <div id="pix"></div>
                                    <div id="stripe"></div>
                                    <div id="paypal"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="character">
                    <!-- <div id="btn_switch_character" >Switch Character</div> -->
                    <div id="logo_bg_anim"></div>
                </div>
            </div>
            
            <div id="bottom_content">
                <h1>Vote for a playlist -------- Vote em uma Playlist ------- Vota por una lista de reproducción -------- プレイリストに投票してください。--------- Votez pour une playlist</h1>
                <div id="vote_lofi">
                    <div id="playlists">
                        <h3>Select a Playlists ></h3>
                        <div id="icons">

                        </div>
                    </div>
                    <div id="list_lofi">
                        <h3>Lofi List</h3>
                        {% for lofi in lofi_list %}
                            <p onclick="play_song('{{ lofi }}')">{{ lofi }}</p>
                        {% endfor %}
                    </div>
                    <div id="vote">
                        <div id="votation">
                            <div id="next_playlist"><p>Next Playlist:</p><div><h4>Playlist Name</h4></div></div>
                            <div id="votes_you_have"><h4>1</h4><p>Vote left</p></div>
                        </div>                        
                        <div id="current_vote">
                            <div id="selected_playlist"></div>
                            <div id="btn_vote" onclick="send_vote()"><h4>Send vote</h4></div>
                        </div>        
                    </div>
                </div>
                
            </div>
            <div id="right_content">
                <div id="live_content">
                    <div id="live_player">
                        <iframe src="https://www.youtube.com/embed/UedTcufyrHc?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div id="live_chat">
                        <iframe src="https://www.youtube.com/live_chat?v=UedTcufyrHc&amp;embed_domain=83ce-2804-14c-b387-23f5-2cf9-b9d9-8387-e98c.sa.ngrok.io" frameborder="0" scrolling="0"></iframe>

                       <!-- <iframe src="https://www.youtube.com/live_chat?v={{ video_id }}&amp;embed_domain={{ domain }}" frameborder="0" scrolling="0"></iframe> --> 
                    </div>
                </div>
                <div id="social_medias">
                    <img id="logo" src="{% static '/imgs/logo.ico' %}" alt="logo_odrip">
                    <div id="icons">
                        <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCI0bI_IO7F_UT3TMA3lN91g" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/in/murilo-d-7208a9111/?_l=pt_BR" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/mike-codigo" target="_blank"><i class="fa-brands fa-square-github"></i></a>
                    </div>
                </div>
            </div>
            <div id="btn_back" onclick="btn_back()">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
    </body>
</html>