

/* VARIABLES */
    /* FONTS */
    $primary_font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    $size_p: 1em;
    $size_h1: 2em;
    $size_h3: 1.5em;
    $size_h4: 1.2em;
    $size_h5_h6: 0.8em;

    /* COLORS */
    $primary_color: #B3DC20;
    $second_color: #07D6FF;
    $contrast_color: #373f51;

    /* BORDERS, MARGINS and PADDINGS */
    $primary_border: 0.5em;
    $border_size: 0.15em;

    $primary_padding: 1.5em;
    $primary_margin: 4em;
    $second_margin: 1em;



/* ANIMATIONS */
    @keyframes rotate_disc{
        from{ transform: rotate(-360deg); }
        to{ transform: rotate(360deg); }
    }

    @keyframes scroll_text_anim{
        from {
          -moz-transform: translateX(50%);
          -webkit-transform: translateX(50%);
          transform: translateX(50%);
        }
        to {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
    }

    @keyframes scroll_text_name_m{
        from {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
        }
        to {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
    }

    @-webkit-keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }


/* SCROLLBAR */
    ::-webkit-scrollbar{
        width: 1em;
    }
    ::-webkit-scrollbar-button{
        display: none;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: $primary_border; 
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

/* BODY and APP */
    body{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(270deg, #b3dc20, #07d6ff);
        background-size: 400% 400%;

        -webkit-animation: bg_animation 30s ease infinite;
        -moz-animation: bg_animation 30s ease infinite;
        -o-animation: bg_animation 30s ease infinite;
        animation: bg_animation 30s ease infinite;
    }


/* TOP CONTENT*/
    #top_content{
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        margin: 4em;
        width: calc(75% - (8em + 40px));
        height: calc(70% - 12em);
        border-radius: $primary_border;
    }   

/* LEFT NAVBAR */
    #content_left{
        display: flex;
        flex-direction: column;
        width: calc(25% - $second_margin);
        height: 100%;
        transition: 0.5s ease-in-out;

        /* ACTUAL PLAYLIST */
        #actual_playlist{
            width: 100%;
            height: -webkit-fill-available;
            margin-bottom: $second_margin;
            display: flex;
            flex-direction: column;
            border-radius: $primary_border;
            border: $border_size solid #000;
            background-color: #fff;


            #disc_circle{
                display: flex;
                margin: $second_margin auto auto auto;
                aspect-ratio : 1 / 1;
                height: 50%;
                border-radius: 50%;
                background-color: #000000;
                shape-outside: circle();
                filter: drop-shadow(-1px 15px 3px rgba(34, 34, 34, 0.5));
                transition: 0.3s ease-in-out;
    
                #playlist_img{
                    margin: auto;
                    width: 98%;
                    height: 98%;
                    clip-path: circle();
                    background-image: url("/static/imgs/bg.jpg");
                    background-position: center;
                    background-size: auto 100%;
                    animation-name: rotate_disc;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }

            }

            #disc_circle:hover{
                transform: scale(1.05, 1.05);
            }

            #playlist_info{
                display: flex;
                flex-direction: column;
                width: 98%;
                height: 50%;
                overflow: hidden;

                *{
                    margin: 0 auto $second_margin auto;
                }

                h4{
                    white-space: nowrap;
                    font-family: $primary_font;
                    font-size: $size_h4;
                    animation: scroll_text_name_m 10s infinite linear;
                    margin: auto;
                }
                h5, h6{
                    text-align: center;
                    font-family: $primary_font;
                    font-size: $size_h5_h6;
                    color: #555;
                }

            }
        }

        /* DISCLOSURE and DONATIONS */
        #disclosure_donations{
            width: 100%;
            height: -webkit-fill-available;

            #btns{
                display: none;
            }

            #div_disclosure_donations{
                width: 100%;
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
                border-radius: $primary_border;
                border: $border_size solid #000;
                background-color: #fff;
                
                #disclosure{
                    width: 95%;
                    height: 50%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    margin: auto;
    
                    h5{
                        text-align: center;
                        font-family: $primary_font;
                        font-size: $size_h5_h6;
                    }
    
                    #btns_disclosure{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        height: 50%;
    
                        input[type="file"]{
                            display: none;
                        }
    
                        #file_disclosure{
                            cursor: pointer;
                            display: flex;
                            font-weight: bold;
                            font-family: $primary_font;
                            font-size: $size_h5_h6;
                            text-align: center;
                            width: calc(50% - ($second_margin * 2));
                            max-height: 6em;
                            aspect-ratio: 1/1;
                            margin: auto;
                            background-color: $primary_color;
                            border-radius: $primary_border;
                            border: $border_size solid #000;
                            transition: 0.2s ease-in-out;
    
                            div{
                                margin: auto;
                            }
                        }
        
                        #btn_spread{
                            display: flex;
                            cursor: pointer;
                            font-weight: bold;
                            font-family: $primary_font;
                            font-size: $size_h5_h6;
                            text-align: center;
                            width: calc(50% - ($second_margin * 2));
                            max-height: 6em;
                            aspect-ratio: 1/1;
                            margin: auto;
                            background-color: $primary_color;
                            border-radius: $primary_border;
                            border: $border_size solid #000;
                            transition: 0.2s ease-in-out;
    
                            div{
                                margin: auto;
                            }
                        }
                                            
                        #file_disclosure:hover, #btn_spread:hover{
                            transform: scale(1.05, 1.05);
                            box-shadow: 5px 5px #000;
                        }
                    }
                }
                #donations{
                    width: 95%;
                    height: 50%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    margin: auto;
    
                    h5{
                        text-align: center;
                        font-family: $primary_font;
                        font-size: $size_h5_h6;
                    }
    
                    #btns_donate{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        height: 50%;
    
                        *{
                            margin: auto;
                            width: calc(33% - $second_margin);
                            height: 50%;
                            cursor: pointer;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            border-radius: $primary_border;
                            border: $border_size solid #000;
                            transition: 0.2s ease-in-out;
                        }
    
                        *:hover{
                            transform: scale(1.05, 1.05);
                            box-shadow: 2px 2px #000;
                        }
    
                        #pix{
                            background-image: url("/static/imgs/payments/pix.png");
                            background-size: 50% !important;
                        }
        
                        #stripe{
                            background-image: url("/static/imgs/payments/stripe.gif");
                            background-color: #6772e5;
                        }
        
                        #paypal{
                            background-image: url("/static/imgs/payments/paypal.gif");
                        }
                    }    
                } 
            }
        }
    }

/* CHARACTER */
    #character{
        width: -webkit-fill-available;
        height: 100%;
        margin-left: $second_margin;
        /*border-radius: $primary_border;
        border: $border_size solid #000;
        background-color: #fff;*/

        canvas{
            width: 100% !important;
            height: 100% !important;
        }
    }

/* BOTTOM CONTENT */
    #bottom_content{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 4em;
        width: calc(75% - (8em + 40px));
        max-width: calc(75% - (8em + 40px));
        height: 30%;
        max-height: 800px;
        border-radius: $primary_border;
        border: $border_size solid #000;
        background-color: #fff;
        box-shadow: 25px 25px #000000;
        overflow: hidden;
        transition: 0.5s ease-in-out;

        h1{
            font-family: $primary_font;
            font-size: $size_h1;
            width: fit-content;
            white-space: nowrap;
            animation-timing-function: cubic-bezier();
            animation: scroll_text_anim 15s infinite linear;
        }
    }

    #vote_lofi{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80%;
        background-color: #f3f3f3;
    
        #playlists{
        min-width: 35%;
        height: 100%;

            h3{
                font-family: $primary_font;
                font-size: $size_h3;
                text-align: center;
            }
        }

        #list_lofi {
            min-width: 30%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #e7e7e7;

            h3 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: $size_h3;
                text-align: center;
                color: $contrast_color;
            }
            p {
                cursor: pointer;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: $contrast_color;
                font-size: $size_p;
                font-weight: 300;
                max-height: 50px;
                overflow: hidden;
                padding-left: 40px;
                transition: 0.1s ease-in-out;
            }

            p:hover {
                color: #c40089;
                text-decoration: underline;
                transform: scale(1.02,1.02);
            }
        }

        #vote {
            display: flex;
            flex-direction: column;
            min-width: 35%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #fff;
            color: #000;
            overflow: hidden;

            #votation{
                width: 100%;
                height: 42%;
                display: flex;
                flex-direction: row;
                margin-bottom: $second_margin;
                font-family: $primary_font;

                #next_playlist{
                    height: 80%;
                    aspect-ratio: 1/1 !important;
                    display: flex;
                    margin: auto $second_margin auto auto;
                    flex-direction: column;
                    border: $border_size solid #000;
                    border-radius: $primary_border;
                    background-color: #fff;
                    
                    div{
                        width: 100%;
                        overflow: hidden;
                        margin: 0 auto auto auto;

                        h4{
                            margin: 0;
                            text-align: center;
                            color: $second_color;
                            white-space: nowrap;
                            animation: scroll_text_anim 4s infinite linear;
                        }
                    }
                    p{
                        white-space: nowrap;
                        size: $size_p;
                        margin: auto auto 0 auto;
                    }
                }

                #votes_you_have{
                    height: 80%;
                    aspect-ratio: 1/1;
                    display: flex;
                    margin: auto auto auto 0;
                    flex-direction: column;
                    border: $border_size solid #000;
                    border-radius: $primary_border;
                    background-color: #fff;

                    p{
                        margin: 0 auto auto auto;
                        text-align: center;
                    }
                    h4{
                        margin: auto auto 0 auto;
                        font-size: $size_h1;
                        color: $second_color;
                    }
                }
            }

            #current_vote{
                width: 100%;
                height: 42%;
                display: flex;
                flex-direction: row;
                margin: 0 auto auto auto;

                #selected_playlist{
                    height: 80%;
                    aspect-ratio: 1/1;
                    margin: auto $second_margin auto auto ;
                    border-radius: $primary_border;
                    border: $border_size solid #000;
                    background-image: url('/static/imgs/bg.jpg');
                    background-position: top;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                }
                #btn_vote{
                    display: flex;
                    cursor: pointer;
                    height: 80%;
                    aspect-ratio: 1/1;
                    font-family: $primary_font;
                    font-weight: bold;
                    text-align: center;
                    border-radius: $primary_border;
                    border: $border_size solid #000;
                    background-color: $primary_color;
                    margin: auto auto auto 0;
                    transition: 0.3s ease-in-out;
                    
                    h4{
                        margin: auto;
                    }
                }
    
                #btn_vote:hover{
                    transform: scale(1.05, 1.05);
                    box-shadow: 5px 5px #000;
                }
            }
        }
    }

/* LIVE CHAT */
    #right_content{
        position: fixed;
        top: 0;
        right: 0;
        height: calc(100% - ($primary_margin * 2));
        margin: $primary_margin;
        width: calc(27% - ($primary_margin));
        max-width: 27%;

        #live_content{
            height: calc(95% - $primary_margin);
            margin-bottom: $primary_margin;
            border-radius: $primary_border;
            border: $border_size solid #000;
            background-color: #fff;
            box-shadow: 25px 25px #000000;
            transition: 0.5s ease-in-out;

            #live_player{
                height: 30%;
                width: 100%;
                overflow: hidden;

                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
    
            #live_chat{
                width: 100%;
                height: 70%;
                overflow: hidden;
    
                iframe{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
            }
        }

        #social_medias{
            width: 100%;
            height: 5%;
            display: flex;
            flex-direction: row;
            border-radius: $primary_border;
            border: $border_size solid #000;
            background-color: #fff;
            box-shadow: 25px 25px #000000;

            #logo{
                cursor: pointer;
                width: 80px;
                margin: auto;
                transition: 0.3s ease-in-out;
            }

            #logo:hover{
                transform: scale(1.05, 1.05) rotate(10deg);
            }

            #icons{
                display: flex;
                width: calc(90% - 80px);
                height: 100%;
                background-color: #e7e7e7;

                a{
                    color: #000;
                    text-decoration: none;
                    font-size: $size_h3;
                    margin: auto;
                    transition: 0.2s ease-in-out;
                }
    
                *:hover{
                    transform: scale(1.05, 1.05) rotate(10deg);
                }
            }
        }
    }


    /* RESPONSIVIDADE */

    @media screen and (min-width: 1920px) {
        #right_content{
            margin: 2em 4em 2em 2em; 
            height: calc(95% - 2em);
        }
        #bottom_content{
            width: calc(75% - (10em + 40px));
        }        
    }

    @media screen and (max-width: 1280px){
        #btn_back{
            visibility: hidden;
            display: flex;
            position: fixed;
            bottom: 10%;
            left: calc($primary_margin / 2);
            cursor: pointer;
            width: 4vh;
            aspect-ratio: 1/1;
            background-color: #fff;
            border-radius: $primary_border;
            border: $border_size solid #000;
            transition: 0.3s ease-in-out;
            transform: translateX(-200%);
            z-index: 3;

            i{
                font-size: x-large;
                margin: auto;
            }
        }

        #btn_back:hover{
            box-shadow: 5px 5px #000;
        }

        #right_content{
            position: unset;
            top: unset;
            right: unset;
            height: fit-content;
            width: fit-content;
            margin: unset;
            z-index: 1;

            #live_content{
                visibility: hidden;
                position: fixed;
                bottom: 0;
                left: 0;
                width: calc(100% - ($primary_margin * 2));
                height: 50%;
                margin: $primary_margin;
                max-width: none;
                transform: translateY(150%);
            }

            #social_medias{
                position: fixed;
                top: 0;
                left: 0;
                font-size: x-large;
                width: calc(100% - ($second_margin * 4 ));
                margin: $second_margin ($second_margin * 2);
                z-index: 2;

                #logo{
                    width: 150px;
                }

                #icons{
                    width: calc(100% - 250px);
                }
            }
        }

        #top_content{
            width: 100%;
            height: 100%;
            margin: 0;

            #content_left{
                position: fixed;
                flex-direction: row;
                bottom: 0;
                left: 0;
                width: calc(100% - ($primary_margin * 2));
                height: 30%;
                margin: $primary_margin;
                max-width: none;
                z-index: 2;

                #actual_playlist{
                    width: calc(50% - $second_margin);
                    margin: 0 $second_margin 0 0;
                }
                #disclosure_donations{
                    width: 50%;
                    margin: 0 $second_margin 0 0;

                    #btns{
                        display: flex;
                        width: 100%;
                        height: calc(25% - $second_margin);
                        margin: 0 0 $second_margin 0;
                        display: flex;
                        flex-direction: row;
                        border-radius: $primary_border;
                        border: $border_size solid #000;
                        background-color: #fff;

                        #btn_open_vote, #btn_open_live_chat{
                            width: calc(50% - ($second_margin * 2));
                            height: calc(100% - ($second_margin * 2));
                            margin: auto;
                            display: flex;
                            cursor: pointer;
                            font-weight: bold;
                            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 0.8em;
                            text-align: center;
                            background-color: $second_color;
                            border-radius: 0.5em;
                            border: 0.15em solid #000;
                            transition: 0.2s ease-in-out;

                            h3{
                                font-size: large;
                                margin: auto;
                            }
                        }

                        #btn_open_vote:hover, #btn_open_live_chat:hover{
                            transform: scale(1.05,1.05);                        
                            box-shadow: 5px 5px #000;
                        }
                    }

                    #div_disclosure_donations{
                        height: 73%;
                    }
                }
            }

            #character{
                position: fixed;
                margin: 0;
                bottom: 0;
                left: 0;
                z-index: 1;

                canva{
                    max-width: 100%;
                    max-height: 100vh;
                }
            }
        }

        #bottom_content{
            visibility: hidden;
            width: calc(100% - ($primary_margin * 2));
            margin: $primary_margin;
            max-width: none;
            transform: translateY(150%);
        }
    }