

/* VARIABLES */
    /* FONTS */
    $primary_font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    $size_p: 1em;
    $size_h1: 2em;
    $size_h3: 1.5em;
    $size_h4: 1.2em;
    $size_h5_h6: 0.8em;

    /* COLORS */
    $primary_color: #B3DC20;
    $second_color: #07D6FF;
    $contrast_color: #373f51;

    /* BORDERS, MARGINS and PADDINGS */
    $primary_border: 0.5em;
    $border_size: 0.15em;

    $primary_padding: 1.5em;
    $primary_margin: 4em;
    $second_margin: 1em;



/* ANIMATIONS */
    @keyframes rotate_disc{
        from{ transform: rotate(-360deg); }
        to{ transform: rotate(360deg); }
    }

    @keyframes scroll_text_anim{
        from {
          -moz-transform: translateX(50%);
          -webkit-transform: translateX(50%);
          transform: translateX(50%);
        }
        to {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
    }

    @keyframes scroll_text_name_m{
        from {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
        }
        to {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
    }

    @-webkit-keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes bg_animation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }


/* SCROLLBAR */
    ::-webkit-scrollbar{
        width: 1em;
    }
    ::-webkit-scrollbar-button{
        display: none;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: $primary_border; 
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

/* BODY */
    body{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(270deg, #b3dc20, #07d6ff);
        background-size: 400% 400%;

        -webkit-animation: bg_animation 30s ease infinite;
        -moz-animation: bg_animation 30s ease infinite;
        -o-animation: bg_animation 30s ease infinite;
        animation: bg_animation 30s ease infinite;
    }


/* TOP CONTENT*/
    #top_content{
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        margin: 4em;
        width: calc(75% - (8em + 40px));
        height: calc(70% - 12em);
        border-radius: $primary_border;
    }   

/* LEFT NAVBAR */
    #content_left{
        display: flex;
        flex-direction: column;
        width: calc(25% - $second_margin);
        height: 100%;

        /* ACTUAL PLAYLIST */
        #actual_playlist{
            width: 100%;
            height: -webkit-fill-available;
            margin-bottom: $second_margin;
            display: flex;
            flex-direction: column;
            border-radius: $primary_border;
            border: $border_size solid #000;
            background-color: #fff;


            #disc_circle{
                display: flex;
                margin: $second_margin auto auto auto;
                aspect-ratio : 1 / 1;
                height: 50%;
                border-radius: 50%;
                background-color: #000000;
                shape-outside: circle();
                filter: drop-shadow(-1px 15px 3px rgba(34, 34, 34, 0.5));
                transition: 0.3s ease-in-out;
    
                #playlist_img{
                    margin: auto;
                    width: 98%;
                    height: 98%;
                    clip-path: circle();
                    background-image: url("/static/imgs/bg.jpg");
                    background-position: center;
                    background-size: auto 100%;
                    animation-name: rotate_disc;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }

            }

            #disc_circle:hover{
                transform: scale(1.05, 1.05);
            }

            #playlist_info{
                display: flex;
                flex-direction: column;
                width: 98%;
                height: 50%;
                overflow: hidden;

                *{
                    margin: 0 auto $second_margin auto;
                }

                h4{
                    white-space: nowrap;
                    font-family: $primary_font;
                    font-size: $size_h4;
                    animation: scroll_text_name_m 10s infinite linear;
                    margin: auto;
                }
                h5, h6{
                    text-align: center;
                    font-family: $primary_font;
                    font-size: $size_h5_h6;
                    color: #555;
                }

            }
        }

        /* DISCLOSURE and DONATIONS */
        #disclosure_donations{
            width: 100%;
            height: -webkit-fill-available;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            border-radius: $primary_border;
            border: $border_size solid #000;
            background-color: #fff;

            #disclosure{
                width: 95%;
                height: 50%;
                margin: auto;
                display: flex;
                flex-direction: column;
                margin: auto;

                h5{
                    text-align: center;
                    font-family: $primary_font;
                    font-size: $size_h5_h6;
                }

                #btns_disclosure{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    height: 50%;

                    input[type="file"]{
                        display: none;
                    }

                    #file_disclosure{
                        cursor: pointer;
                        font-weight: bold;
                        font-family: $primary_font;
                        font-size: $size_h5_h6;
                        text-align: center;
                        width: 47%;
                        padding: $primary_padding 0;
                        margin: auto;
                        background-color: $primary_color;
                        border-radius: $primary_border;
                        border: $border_size solid #000;
                        transition: 0.2s ease-in-out;
                    }
    
                    #btn_spread{
                        cursor: pointer;
                        font-weight: bold;
                        font-family: $primary_font;
                        font-size: $size_h5_h6;
                        text-align: center;
                        width: 47%;
                        padding: $primary_padding 0;
                        margin: auto;
                        background-color: $primary_color;
                        border-radius: $primary_border;
                        border: $border_size solid #000;
                        transition: 0.2s ease-in-out;
                    }
                                        
                    #file_disclosure:hover, #btn_spread:hover{
                        transform: scale(1.05, 1.05);
                    }
                }
            }
            #donations{
                width: 95%;
                height: 50%;
                margin: auto;
                display: flex;
                flex-direction: column;
                margin: auto;

                h5{
                    text-align: center;
                    font-family: $primary_font;
                    font-size: $size_h5_h6;
                }

                #btns_donate{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    height: 50%;

                    *{
                        margin: auto;
                        width: 30%;
                        height: 50%;
                        cursor: pointer;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        border-radius: $primary_border;
                        border: $border_size solid #000;
                        transition: 0.2s ease-in-out;
                    }

                    *:hover{
                        transform: scale(1.05, 1.05);
                    }

                    #pix{
                        background-image: url("/static/imgs/payments/pix.png");
                        background-size: 50% !important;
                    }
    
                    #stripe{
                        background-image: url("/static/imgs/payments/stripe.gif");
                        background-color: #6772e5;
                    }
    
                    #paypal{
                        background-image: url("/static/imgs/payments/paypal.gif");
                    }
                }
                
            }
    }
    }

/* CHARACTER */
    #character{
        width: -webkit-fill-available;
        height: 100%;
        margin-left: $second_margin;
        /*border-radius: $primary_border;
        border: $border_size solid #000;
        background-color: #fff;*/

        canvas{
            width: 100% !important;
            height: 100% !important;
        }
    }

/* BOTTOM CONTENT */
    #bottom_content{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 4em;
        width: calc(75% - (8em + 40px));
        max-width: calc(75% - (8em + 40px));
        height: 30%;
        max-height: 800px;
        border-radius: $primary_border;
        border: $border_size solid #000;
        background-color: #fff;
        box-shadow: 25px 25px #000000;
        overflow: hidden;

        h1{
            font-family: $primary_font;
            font-size: $size_h1;
            width: fit-content;
            white-space: nowrap;
            animation-timing-function: cubic-bezier();
            animation: scroll_text_anim 15s infinite linear;
        }
    }

    #vote_lofi{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80%;
        background-color: #f3f3f3;
    
        #playlists{
        min-width: 35%;
        height: 100%;

            h3{
                font-family: $primary_font;
                font-size: $size_h3;
                text-align: center;
            }
        }

        #list_lofi {
            min-width: 30%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #e7e7e7;

            h3 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: $size_h3;
                text-align: center;
                color: $contrast_color;
            }
            p {
                cursor: pointer;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: $contrast_color;
                font-size: $size_p;
                font-weight: 300;
                max-height: 50px;
                overflow: hidden;
                padding-left: 40px;
                transition: 0.1s ease-in-out;
            }

            p:hover {
                color: #c40089;
                text-decoration: underline;
                transform: scale(1.02,1.02);
            }
        }

        #vote {
            display: flex;
            flex-direction: column;
            min-width: 35%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #fff;
            color: #000;
            overflow: hidden;

            #votes_you_have{
                font-family: $primary_font;
                font-size: $size_p;
                width: 65%;
                padding: 0.5em;
                border: $border_size solid #000;
                border-radius: $primary_border;
                background-color: #fff;
                text-align: center;
                margin: auto auto 0 auto;

                *{
                    margin: 0;
                }
                h4{
                    font-size: $size_h1;
                    color: $second_color;
                }
            }

            #current_vote{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;
                margin-bottom: auto;

                #selected_playlist{
                    height: 80%;
                    aspect-ratio: 1/1;
                    margin: auto $second_margin auto auto ;
                    border-radius: $primary_border;
                    border: $border_size solid #000;
                    background-image: url('/static/imgs/bg.jpg');
                    background-position: center;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                }
                #btn_vote{
                    display: flex;
                    cursor: pointer;
                    height: 80%;
                    width: auto;
                    padding: 0 $primary_padding;
                    font-family: $primary_font;
                    font-weight: bold;
                    text-align: center;
                    border-radius: $primary_border;
                    border: $border_size solid #000;
                    background-color: $primary_color;
                    margin: auto auto auto 0;
                    transition: 0.3s ease-in-out;
                    
                    h4{
                        margin: auto;
                    }
                }
    
                #btn_vote:hover{
                    transform: scale(1.05, 1.05);
                }
            }
        }
    }

/* LIVE CHAT */
    #right_content{
        position: fixed;
        top: 0;
        right: 0;
        height: calc(100% - ($primary_margin * 2));
        margin: $primary_margin;
        width: calc(27% - ($primary_margin));
        max-width: 27%;

        #live_content{
            height: calc(95% - $primary_margin);
            margin-bottom: $primary_margin;
            border-radius: $primary_border;
            border: $border_size solid #000;
            background-color: #fff;
            box-shadow: 25px 25px #000000;

            #live_player{
                height: 30%;
                width: 100%;
                overflow: hidden;

                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
    
            #live_chat{
                width: 100%;
                height: 70%;
                overflow: hidden;
    
                iframe{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
            }
        }

        #social_medias{
            width: 100%;
            height: 5%;
            display: flex;
            flex-direction: row;
            border-radius: $primary_border;
            border: $border_size solid #000;
            background-color: #fff;
            box-shadow: 25px 25px #000000;

            *{
                text-decoration: none;
                font-size: $size_h3;
                margin: auto;
                transition: 0.2s ease-in-out;
            }

            *:hover{
                transform: scale(1.05, 1.05);
            }
        }
    }